* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --nameColor: bisque;
  --titleAndBorderColor: rgb(199, 160, 111);
  --backgroundColor: rgb(72, 69, 69);
}

body {
  font-family: "Libre Baskerville", serif;
  font-family: "Ubuntu", sans-serif;
}

main {
  margin-top: 10px;
}

.wrapped {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

header {
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding: 2%;
  background-color: var(--backgroundColor);
  color: var(--nameColor);
}
header h1 {
  font-size: 4vw;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  font-size: 150%;
}

nav a {
  text-decoration: none;
  color: var(--nameColor);
  padding: 10px;
}

nav a:visited {
  text-decoration: none;
  color: var(--titleAndBorderColor);
}
nav a:hover {
  text-decoration: none;
  color: var(--nameColor);
}

nav a:active {
  text-decoration: none;
  color: teal;
}

section {
  display: flex;
  padding: 1%;
}
section h2 {
  flex: 0 0 20%;
  border-right: 2px solid var(--titleAndBorderColor);
  text-align: right;
  font-size: 4vw;
  padding-right: 10px;
  width: 200px;
  color: var(--titleAndBorderColor);
}

section p {
  margin-left: 1%;
  color: var(--backgroundColor);
}

h3 {
  background-color: var(--backgroundColor);
}
.myPic {
  margin: 1%;
}

.aboutMe {
  margin-left: 1%;
}

.mainProj {
  background-size: cover !important;

  background-image: url("../images/john-peters-EbOaaL8E_Z0-unsplash.jpg");
}
.secProj {
  background-size: cover !important;

  background-image: url("../images/patrick-tomasso-5hvn-2WW6rY-unsplash.jpg");
}

.thirdProj {
  background-size: cover !important;

  background-image: url("../images/ray-mallick-5J1bHRX1fNw-unsplash.jpg");
}

.fourthProj {
  background-size: cover !important;

  background-image: url("../images/teemu-paananen-OOE4xAnBhKo-unsplash.jpg");
}

address {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  padding: 20px 20px;
  text-decoration: none;
}
address a {
  text-decoration: none;
  color: var(--backgroundColor);
  font-size: 2vw;
  padding: 5px;
}

.projectTiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  flex-basis: 100%;
}

.tile {
  flex-basis: 31.3%;
  border: 5px solid var(--backgroundColor);
  min-height: 150px;
  margin: 1%;
  text-align: center;
  text-decoration: none;
  color: bisque;
}

.tile:first-child {
  flex-basis: 100%;
}

@media screen and (max-width: 980px) {
  header {
    flex-direction: column;
  }

  nav ul {
    padding-top: 10px;
  }

  section {
    flex-direction: column;
  }

  section h2 {
    width: 100%;
    text-align: left;
    border-right: none;
    border-bottom: 2px solid var(--titleAndBorderColor);
    padding-bottom: 1%;
  }
  section p {
    padding-top: 2%;
  }
}

@media screen and (max-width: 768px) {
  address {
    flex-direction: column;
    align-items: flex-start;
  }

  .tile {
    flex: 0 0 100%;
    border: 5px solid var(--backgroundColor);
    min-height: 200px;
    margin: 1%;
  }
}
